header{
    display: flex;
}

header{
    width: 100%;
    height: 100%;
    margin-right: 20%;
    margin-left: 20%;
}

/*stilos imagenes*/

.img1{
    width: auto;
    height: 30%;
    max-width: 40%;
    max-height: 40%;
    margin-left: -10%;
    margin-top: -9%;
    float: right;
    margin-right: 40%;
}

.img2{
    float: left;
    width: 60%;
    height: 30%;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    margin-top: -8%;
}

.img3{
    width: 25%;
    height: 40%;
    border-radius: 5%;
    margin-left: 72%;
    margin-bottom: 5%;
    margin-top: -25%;
}

.img4{
    width: 25%;
    height: 40%;
    border-radius: 5%;
    margin-left: 72%;
    margin-bottom: 5%;
    margin-top: -25%;
}

/*stilos titulos*/

.titulo{
    margin-left: 22%;
    text-align: center;
    margin-top: 1%;
}

.title{
    text-align: left;
    margin-left: -20%;
    color: white;
    font-size: xx-large;
    margin-bottom: 2;
}

.subtitle{
    text-align: left;
    margin-left: -20%;
    color: white;
    font-size: x-large;
    margin-top: 2;
}

/*stilos nav-Container*/

.Nav{
    width: 60%;
    height: 10%;
    display: flex;
    font-size: xx-large;
    background-color: brown;
    border-radius: 0 0 30px 30px;
    border: 1px solid black;
}

.nav_link1{
    align-items: center;
    margin-left: 5%;
    display: flex;
    color: white;
}

.nav_link2{
    align-items: center;
    margin-left: 5%;
    display: flex;
    color: white;
}

.nav_link3{
    align-items: center;
    margin-left: 5%;
    display: flex;
    color: white;
}

.nav_link4{
    align-items: center;
    margin-left: 5%;
    display: flex;
    color: white;
}

/*Stilos Div-Container*/

.Contend3{ 
    margin-left: 20%;
    margin-right: 20%;
}

.Contend2{
    margin-right: 49%;
    margin-top: -25%;

}

.contenedor-h{
    margin-left: 20%;
    margin-right: 20%
}

.Cuidados{
    border-radius: 30px;
    display: block;
    border: 1px solid blueviolet;
    background-color: coral;
}

.Salir{
    border-radius: 30px;
    display: block;
    border: 1px solid blueviolet;
    background-color: coral;
    margin-top: 2%;
}

.Cuidados1{
    margin-right: 30%;
    margin-left: 2%;
}

.Cuidados4{
    margin-right: 30%;
    margin-left: 2%;
}

/*stilos Form*/

.Form{
   display: grid;
   margin-left: 54%;
   margin-right: auto;
   margin-top: -60%;
   background-color: aquamarine;
   border-radius: 5%;
   border: 1px solid blueviolet;
}

.Form, .Boton{
    text-align: center;
    align-items: center;
}
.Boton{
   color: white;
   background-color: black;
   border-radius: 15px;
}

label{
    text-align: right;
}
.title-form{
    text-align: center;
    background-color: black;
    color: blue;
}

input{
    display: inline-block;
    text-align: center;
    margin-right: 1.5%;
    
}
 /*stilos footer*/
footer{
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    background-color: aqua;
    border-radius: 30px;
    margin-top: 2%;
}

  
  /* Movil */
  @media only screen and (max-width: 780px) {
  .body{
    display: flexbox;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
  }
  .Contend3{
    display: flexbox;
  }
  .Nav{
    display: flexbox;
  }
  }
  
    /* Ajustar el tamaño del formulario */
input[type="text"], input[type="number"], input[type="date"], input[type="time"], input[type="submit"] {
      width: 90%;
      margin: 5px auto;
}

  /* Estilos para el menú de hamburguesa */
.menu-toggle {
    display: none; /* Oculta el menú de hamburguesa en pantallas grandes */
    cursor: pointer;
}
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}
  
  /* Estilos para el menú de navegación en dispositivos móviles */
@media only screen and (max-width: 780px) {
    .menu-toggle {
      display: block; /* Muestra el menú de hamburguesa en pantallas pequeñas */
    }
  
    .Nav {
      display: none; /* Oculta el menú de navegación por defecto en pantallas pequeñas */
      text-align: center;
    }
  
    .Nav.active {
      display: block; /* Muestra el menú de navegación cuando está activo */
    }

    .body{
        display: block;
        margin: 0%;
    }

    .main{
        display: inline;
        margin: 0%;
    }

    .Form{
        margin-top: 10%;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;

    }

    .Contend2{
        margin-left: 0%;
        margin-right: 0%;
    }

    .Contend3{
        margin-left: 0%;
        margin-right: 0%;
    }

    .footer, .p{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    .contenedor-h{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .titulo{
        margin-left: 10%;
        margin-right: 0%;
    }

    .menu-toggle{
        margin-left: -15%;
        margin-right: 95%;
    }
}
  