header{
    display: grid;
    justify-content: space-between;
}

header{background-image: url(./Img/Huesitos-huellitas-azul.jpg);
    width: 1000px;
    height: 300px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 30px;
}

/*stilos imagenes*/

.img1{
    width: 450px;
    height: 250px;
    margin-left: 550px;
    margin-top: 0px;
    image-orientation: initial;
}

.img3{
    width: 25%;
    height: 40%;
    border-radius: 5%;
    margin-left: 72%;
    margin-bottom: 5%;
    margin-top: -25%;
}

.img4{
    width: 25%;
    height: 40%;
    border-radius: 5%;
    margin-left: 72%;
    margin-bottom: 5%;
    margin-top: -25%;
}

/*stilos titulos*/

.titulo{
    display: inline;
    margin-bottom: 50px;
    text-align: center;
}

.title{
    margin-right: 500px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: xx-large;
}

.subtitle{
    margin-right: 500px;
    margin-top: -200px;
    text-align: center;
    color: white;
    font-size: x-large;
}

/*stilos nav-Container*/

.Nav{
    border-radius:initial;
    width: 98%;
    height: 35%;
    display: flex;
    font-size: xx-large;
    padding: 1% 1%;
    background-color: brown;
    margin-top: 4.5%;
    align-items: center;
    border-radius: 2.5%;
}

.nav_link1{
    align-items: center;
    margin-left: 7%;
    display: flex;
    font-style:unset;
    color: white;
}

.nav_link2{
    align-items: center;
    margin-left: 7%;
    display: flex;
    color: white;
}

.nav_link3{
    align-items: center;
    margin-left: 7%;
    display: flex;
    color: white;
}

.nav_link4{
    align-items: center;
    margin-left: 7%;
    display: flex;
    color: white;
}

/*Stilos Div-Container*/

.Contend3{ 
    margin-left: 250px;
    margin-right: 250px;
}

.Contend2{
    margin-right: 400px;
    margin-top: 5%;
    margin-bottom: -5%;
}

.Cuidados{
    border-radius: 30px;
    display: block;
    border-color: 1px solid blueviolet;
    background-color: coral;
}

.Salir{
    border-radius: 30px;
    display: block;
    border-color: 1px solid blueviolet;
    background-color: coral;
}

.Cuidados1{
    margin-right: 30%;
    margin-left: 2%;
}

.Cuidados4{
    margin-right: 30%;
    margin-left: 2%;
}

/*stilos Form*/

.Form{
   margin-left: 650px;
   margin-right: 1%;
   margin-top: -430px;
   background-color: aquamarine;
   border-radius: 5%;
}

.Boton{
   display: flex;
   margin-left: 125px;
   color: white;
   background-color: black;
   border-radius: 15px;
}

label{
    margin-left: 25%;
    text-align: justify;
}
.title-form{
    margin-left: 10%;
}

input{
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 22%;
}
 /*stilos footer*/
footer{
    margin-right: 250px;
    margin-left: 250px;
    text-align: center;
    background-color: aqua;
    border-radius: 5%;
}



